<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebClientApp</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Exo|Helvetica|Roboto|Tangerine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!--
    <link rel="stylesheet" href="~/css/site.css" />
    -->

    <style>
        /* Google Roboto font */
        body {
            font-family: 'Roboto', sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .itelescope-heading {
            font-family: 'Exo', sans-serif;
        }

        /* Transparent container */
        .itelescope-container {
            background: rgba(255,255,255,0.9)
        }

        /* Bootstrap4 navigation menu style modification */
        nav {
            font-family: 'Exo', sans-serif;
            height: 75px;
            max-height: 75px;
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
            display: flex;
            flex-direction: column;
        }

        /* Header styles */
        header li.nav-item a.nav-link {
            font-size: 1.5rem;
        }

        header div.dropdown-menu a.dropdown-item {
            font-size: 1.25rem;
        }

        /* Main background image */
        main {
            margin-top: 75px;
            background: url('./img/logo-transparent.png') repeat center center fixed;
            background-size: auto;
        }
        /* Footer background image */
        .footer-bgimg {
            width: 100%;
            background-image: url('./img/footer-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        /* Footer anchor style modification */
        footer a {
            color: black;
        }

            footer a:hover {
                color: darkgray;
            }

        /* Figure styles */
        .itelescope-figure {
            position: relative;
            width: 100%; /* for IE 6 */
            /*display: flex;
            flex-direction: column;*/
        }

            .itelescope-figure img {
                max-height: 50vh;
                width: 100%;
            }

            .itelescope-figure figcaption {
                z-index: 1;
                position: absolute;
                top: 0;
                left: 40%;
                color: white;
                text-shadow: 1px 1px 2px black, 0 0 5px black, 0 0 5px black;
                margin-left: 10vw;
                /*border-left: solid red thick;*/
                text-align: left;
                font-size: 2.5rem;
                font-style: oblique;
            }
    </style>


    @RenderSection("Header_Contents", required: false)

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>$(".dropdown").hover(function () {
            $(".dropdown-menu", this).css({ "display": "flex" });
        });</script>
    @RenderSection("Header_Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="~/img/logo-nav.png" alt="iTelescope" style="height:50px; height:auto; padding-right:50px" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-satellite"></i> Telescopes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-images"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-comments-dollar"></i> Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="academyDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-university"></i> Academy
                    </a>
                    <div class="dropdown-menu" aria-labelledby="academyDropdownMenuLink">
                        <a class="dropdown-item" href="#">Glossary</a>
                        <a class="dropdown-item" href="#">Tutorials</a>
                        <a class="dropdown-item" href="#">Webinars</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="atmosphereDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fab fa-soundcloud"></i> Climate
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="atmosphereDropdownMenuLink">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cloud-sun-rain"></i> Weather
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-meteor"></i> Meteorologic Maps
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="academyDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="academyDropdownMenuLink">
                        <a class="dropdown-item" href="https://support.itelescope.net/">Support</a>
                        <a class="dropdown-item" href="https://community.itelescope.net/">Community</a>
                        <a class="dropdown-item" href="#">Contact</a>
                        <a class="dropdown-item" href="#">About us</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div>
        @RenderBody()
        <footer class="footer-bgimg">
            <div class="jumbotron bg-transparent" style="border-radius: 0 0 45px 45px; margin: auto; padding: 10px 0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto itelescope-heading">
                            <h2 class="text-primary"><strong>iTelescope prototype</strong></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mx-auto col-md-6 offset-md-3 text-center">
                            <h4>
                                <a href="mailto:support@itelescope.net?Subject=ContactUs"><i class="fas fa-envelope-open-text"></i></a>
                                <a href="https://twitter.com/iTelescope_Net"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/itelescope.net/"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.youtube.com/channel/UChVuSrLOaml7Mq_fGf_5PGQ"><i class="fab fa-youtube"></i></a>
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 offset-md-3 text-center">
                            <h4 class="bg-transparent text-white">
                                <a href="" target="_top"><i class="fas fa-balance-scale"></i> Legal</a>
                                &nbsp;&nbsp;
                                <a href="/About" target="_top"><i class="fas fa-users"></i> About Us</a>
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="mx-auto">
                            <details class="text-center text-dark">
                                <summary class="">Copyright &copy; iTelescope @DateTime.Now.Year, All right reserved.</summary>
                                <span>Prototype by Ali Rasouli</span>
                                , <a href="tel:+61410159014">call +61410159014</a>
                            </details>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Body_Scripts", required: false)
</body>
</html>
